.chat-list {
    width: 250px;
    padding: 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
  }
  
  .chat-list h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .chat-list-items {
    list-style-type: none;
    padding: 0;
  }
  
  .chat-list-item {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .chat-list-item:hover {
    background-color: #e6f7ff;
  }
  
  .chat-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .chat-item-name {
    font-weight: bold;
  }
  
  .chat-item-last-message {
    font-size: 0.9em;
    color: #888;
  }
  
  .chat-list p {
    text-align: center;
    color: #888;
  }
  